# MongoDB
MONGODB_URI=mongodb+srv://a34325_db_user:XGoeeF1ij9uPJK3s@cluster0.natvzfv.mongodb.net/academic_system?appName=Cluster0

# Server
PORT=3000
NODE_ENV=development

# Session
SESSION_SECRET=seu_secret_super_seguro_aqui

# Upload
UPLOAD_MAX_SIZE=2097152
UPLOAD_DIR=./public/uploads/photos/

# App
APP_NAME=Sistema Académico
APP_URL=http://localhost:3000
SESSION_LIFETIME=1800
